*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body and container */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.8bQP-WF6Tc-b_BFe9vJ0tgHaEK&pid=Api&P=0&h=220);
}

.container1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: #fff;



}
.container2{
    color: #fff;
}

/* Header styling */
header {
    background: rgb(176, 173, 173);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
    color: #f4f4f4;
}

header p {
    font-size: 1.2rem;
    color: #fff;
}
.p2{
    color: #fff;
}

/* Section styling */
section {
    padding: 2rem 0;
    
}


h2 {
    margin-bottom: 1rem;
    color: #fff;
}
.h4{
    color: #fff;
}
/* Projects section */
.project {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact section */
#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}